.body {
  font-family: "Roboto", sans-serif;
}
.page-wrapper {
  max-width: 940px;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 31px;
  border-bottom: 1px solid #828282;
  max-width: 940px;
  margin: auto;
}
.nav__link {
  font-size: 18px;
  line-height: 22px;
  color: #6e6e6e;
  text-decoration: none;
  font-weight: bold;
}

.nav__link_enabled {
  color: black;
}
.header {
  max-width: 940px;
  margin: auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.header__tittle {
  font-size: 47px;
  max-width: 123px;
  margin: 0;
}
.header__subtittle-container {
  max-width: 156px;
}
.header__subtittle-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 450;
  margin: 0;
}
.header__lang__container {
  transform: rotate(-90deg);
  width: 65px;
  height: 20px;
}
.header__lang-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #828282;
  font-weight: 550;
}
.haeder__lang-link__active {
  color: black;
}
.header__seprator {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 550;
}
.header__image {
  width: 100%;
  height: 387px;
  object-fit: cover;
}

.main {
}
.about-me {
  background-color: #f6f6f6;
  padding-top: 120px;
  margin-top: 104px;
  padding-bottom: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me__tittle {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0;
}
.about-me__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 485px;
}
.about-me__text:first-child {
  margin-top: 0;
}
.about-me__text:last-child {
  margin-bottom: 0;
}
.skills {
  padding-top: 91px;
  padding-bottom: 110px;
  max-width: 940px;
  margin: auto;
}
.skills__tittle {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0;
  margin-bottom: 69px;
}
.skills__subtittle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 83px;
}
.skills__card-container {
  display: flex;
  justify-content: space-between;
}
.skills__card {
  width: 166px;
  height: 206px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills__card-image {
}
.skills__card-tittle {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;
 

  color: #828282;
}
.skills__card-stars-container {
 justify-self: flex;
}

.skills__card-star {
}
